
.label{
    margin-bottom: -4px;
    /* color:#686767 */

    color:#878787;
}

.inputTypeText{
    border-radius: 7px;
    background-color: #f8f8f8   ;
   
}

.inputTypeDropDown{
    border-radius: 7px;
    margin-bottom: 16px;
    background-color: #f8f8f8   ;
}

.card_Constainer{
    border-radius: 14px;
}

@media (max-width:40rem){
    .inputTypeText{
        border-radius: 7px;
        max-width: 10rem;
    }
}