.card {
    margin-bottom: 8px;
    border: 0.5px solid #c5c4c4;
    border-radius: 15px;
  }
  
  .card_body {
    padding: 0rem 1rem 0rem 1rem;
  }
  .label {
    /* margin: 0px 0px 0px; */
    color: #878787;
  }
  .heading{
    /* color:#4d4c4c ; */
    color: #706f6f;
    font-weight: bold;
  }
  .label-description {
    margin-bottom: 8px;
    line-height: 1.3;
    color: #878787;
    font-size: 14px;
  }
  .radio-button-container {
    display: flex;
    margin-bottom: 30px;
  }
  .radio-button-label {
    margin-right: 15px;
    padding-left: 4px;
    padding-top: 1px;
    color:#4d4c4c ;
  }
  .radio-button {
    width: 16px;
    height: 16px;
    accent-color: purple;
  }
  .amount-text-box{
    border: 1px solid #d7d7d7;
    background-color: #f8f8f8;
    /* text-align: center; */
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    margin: 0px 2px 10px 2px;
    width:100px;
    height:30px
  }
  .amount-text-box-container{
    display: flex;
   
    /* padding-top:15px;   */
  }
  .dollor-sign{
    padding:7px;
  }
  .description{
    margin-left: 6px;
    
    line-height: 1.3;
    color: #878787;
    font-size: 12px;
  }
  .service-type-container{
    margin-top: 33px;
    margin-bottom: 35px;
  }
  .text-box-container {
    border: 1px solid #d7d7d7;
    background-color: #f8f8f8;
    /* text-align: center; */
    border-radius: 10px;
    padding: 16px 12px 16px 12px;
    margin: 0px 2px 30px 2px;
  }
  .check-box {
    width: 16px;
    height: 16px;
    accent-color: purple;
  }
  .check-box-label {
    margin-right: 15px;
    padding-left: 5px;
    padding-top: 1px;
    color: #585858;
  }
  .heading-description{
    color: #706f6f;
  }
  .search_label{
    color: #394852;
    padding: 0px;
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
     
}