/* 
.label{
    margin-bottom: -4px;
}

.inputTypeText{
    border-radius: 7px;
}

.inputTypeDropDown{
    border-radius: 7px;
    margin-bottom: 16px;
}

@media (max-width:40rem){
    .inputTypeText{
        border-radius: 7px;
        max-width: 10rem;
    }
} */

.search-label{
    color: #7e7e7e;
     
}