.dashboard_half_content_container {
  margin-left: 160px;
  margin-top: 130px;
  margin-right: 50px;
  margin-bottom: 60px;
  transition: 0.5s ease;
  transform: translateX(0px);
}
.dashboard_full_content_container {
  margin-left: 60px;
  margin-top: 130px;
  margin-right: 50px;
  margin-bottom: 60px;
  transition: 0.5s ease;
  transform: translateX(0px);
}

@media (max-width: 40rem) {
  .dashboard_full_content_container {
    margin-left: 20px;
    margin-top: 90px;
    margin-right: 25px;
    margin-bottom: 60px;
    transition: 0.5s ease;
    transform: translateX(0px);
  }
  .dashboard_half_content_container {
    margin-left: 20px;
    margin-top: 90px;
    margin-right: 25px;
    margin-bottom: 60px;
    transition: 0.5s ease;
    transform: translateX(0px);
  }
}
