.card{
    background-color: #faefef;
}
.container{
  margin-bottom: 30px;
}

.highlightsContainer {
  padding: 20px 20px;
  /* background-color: rgba(2,0,36,1)	; */
  background: linear-gradient(90deg, #52125a 0%, #641863 35%, #be22af 100%);
  border: 1px solid
    linear-gradient(90deg, #52125a 0%, #641863 35%, #be22af 100%);
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.highlightsButton {
  float: right;
}
.highlightsText {
  margin-top: 7px;
}
.label {
  color: #878787;
}
.btnn {
  background-color: #40014b;
  border-color: #40014b;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 30px !important;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  /* font-size: 15px; */
}

.btnn:hover {
  background-color: #630374;
  border-color: #630374;
  color: white;
}
.btnn:focus-visible {
  background-color: #630374;
  border-color: #630374;
  color: white;
}

.higlighted-text {
  margin: 0;
  font-size: 20px;
}
.card-Container {
  border-radius: 14px;
  /* background-color: #faefef; */

}
.text-container1 {
  margin-bottom: 8px;
  line-height: 1.3;
  color: #878787;
  font-size: 12px;
}
.text-container2 {
  padding: 0px 12px 0px 0px;
  color: #878787;
}
.content-container {
  border: 1px solid #d7d7d7;
  background-color: #f8f8f8;
  /* text-align: center; */
  border-radius: 10px;
  padding: 16px 12px 16px 12px;
  margin: 0px 2px 7px 2px;
}
.task-price-container {
  text-align: center;
  background-color: #003f5f;
  color: white;
  padding: 15px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.task-price-label {
  font-size: 14px;
  margin: 0px;
}
.task-price {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}
.form-btn {
  background-color: #922c88;
  border-color: #922c88;
  color: white;
  display: inline-block;
  text-align: center;
  border-radius: 12px !important;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  margin: 10px 0px;
  font-weight: bold;
}
.form-btn:hover {
  background-color: #4556ac;
  border-color: #4556ac;
  color: white;
}
.form-btn:focus-visible {
  background-color: #4556ac;
  border-color: #4556ac;
  color: white;
}
