.container{
    margin-top: 20px;
}
.heading{
    color: #7e7e7e ;
    font-weight: bold;
}
.dropDown{
    border: 0;
    background-color: transparent;
    padding:8px 0px ;
    max-width: 6rem;
     
}
.dropDown:focus{
    background-color: transparent;
}
.dropDown2{
    border: 0;
    background-color: transparent;
    padding:8px 0px ;
    /* max-width: 14rem; */
      
}
.dropDown2:focus{
    background-color: transparent;
}
.label{
    margin-top: 8px;
    margin-right: -15px;
    font-size: 14px;
}
.adjusting{
    padding: 0px 0px 0px 35px;
    /* float:right */
}
/* .colAdjustment{
    margin-left:-30px
} */

/* @media (max-width:40rem){
    .dropDown2{
        
        max-width: 13rem;
          
    }
} */